<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        th {
            text-align: left;
        }
    </style>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
<!--     <p th:text="${ bookDtoList }" /> -->

<table style="width:100%">
    <tbody>
    <td>Id</td>
    <td>User name</td>
    <td>Role</td>
    <tr th:each="user : ${ userList}">
        <td th:text="${ user.id }">ID</td>
        <td th:text="${ user.userName }">User name</td>
        <td th:text="${ user.role }">Role</td>
    </tr>
    </tbody>
</table>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>